<!doctype html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="mlb.css">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="MLBApp">
    <div ng-controller="ScoreController">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-12 title">
            <h1>MLB Game Schedule for {{dateName}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 games">
            <!--Flex items -->
            <div data-ng-repeat="game in games" class="game">
              <div class="away">
                <img ng-src="./images/{{game.away_name_abbrev}}.gif" />
                <p ng-bind="game.away_team_city"></p>
              </div>
              <div class="home">
                <img ng-src="./images/{{game.home_name_abbrev}}.gif" />
                <p ng-bind="game.home_team_city"></p>
              </div>
              <div class="time">
                <span ng-bind="game.away_time"></span> <span ng-bind="game.away_time_zone"></span>
                <span ng-if="game.home_time_zone != game.away_time_zone">
                  |
                  <span ng-bind="game.home_time"></span> <span ng-bind="game.home_time_zone"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center" ng-bind="scoreboard.copyright"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
  <script>
    var mlbApp = angular.module('MLBApp', []);

    mlbApp.controller('ScoreController', function($scope, $http){
      var date = new Date(),
          month = date.getMonth() + 1,
          day = date.getDate();
      if(month < 10){
        month = '0' + month;
      }
      if(day < 10) {
        day = '0' + day;
      }
      $scope.baseURL = 'http://gd2.mlb.com/components/game/mlb/year_2016/month_'
      $scope.date = month + '/day_' + day + '/master_scoreboard.json';
      $scope.dateName = moment().format('MMMM Do YYYY');
      $http.get($scope.baseURL + $scope.date)
        .then(function(response){
          $scope.scoreboard = response.data;
          $scope.games = response.data.data.games.game;
        });
    });
  </script>
</html>